<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/styles.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <title>Bridged | Your business link website</title>
</head>
<body>
    <header class="nav-bar-container">
        <div class="nav-bar">
            <img src="/public/images/BridgedLogoWithWords.png" alt="logo" class="logo">
            <nav>
                <ul class="nav-links">
                    <li><a href="landingPage.html">Home</a></li>
                    <li><a href="aboutUs.html">About</a></li>
                    <li><a href="faqs.html">FAQs</a></li>
                </ul>
            </nav>
            <a href="signInPage.html"  class="signin-btn">Sign in</a>
        </div>
    </header>
    <section class="container">
        <div class="welcome-card">
            <img class="welcome-bg" src="/public/images/AboutUsBanner.png" alt="">
        </div>
    </section>
    <section class="container">
        <div class="about-container">
            <h1 class="about-description">We work to create an authentic library of business opportunities accesible nationwide and extra text to make it longer.</h1>
            <p class="bridged-description">Bridged Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos, optio aliquam amet corrupti debitis officiis voluptatibus soluta numquam, in aspernatur tempora saepe autem voluptates? Porro quas perspiciatis architecto praesentium sapiente?Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati laudantium qui vel expedita reprehenderit minus, nobis deserunt modi nam ipsum dicta voluptatibus fugit veritatis ex, neque dolorem saepe odio quos.</p>
            <div class="about-bg-container">
                <img src="/public/images/group-photo-bg.jpg" alt="" id="about-img">
            </div>
            <h1 style="color: rgb(53, 53, 53); margin-top: 40px">"We want to make business dreams a reality."</h1>

            


            <div class="about-features-container">

                <div style="top: 30px; left: 80px;"class="about-card">
                    <div class="about-card-title">
                        <img src="/public/images/shield-lock.png" alt="">
                        <h1 >Confidential</h1>
                    </div>
                    <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt rerum perferendis dolore nesciunt debitis expedita eius ut illo placeat repellat officia nulla dicta, necessitatibus ipsum, delectus vel. Nulla, saepe provident?</p>
        
                </div>

                <img src="/public/images/confidential_letter.png" alt="" id="about-feature-img1">

                <img src="/public/images/teamwork.png" alt="" id="about-feature-img2">


                <div style="top: 270px; right: 80px;"class="about-card">
                    <div class="about-card-title">
                        <img src="/public/images/People-Fill.png" alt="">
                        <h1 >Collaborative</h1>
                    </div>
                    <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt rerum perferendis dolore nesciunt debitis expedita eius ut illo placeat repellat officia nulla dicta, necessitatibus ipsum, delectus vel. Nulla, saepe provident?</p>
        
                </div>


                <div style="top: 500px; left: 80px;"class="about-card">
                    <div class="about-card-title">
                        <img src="/public/images/Touch-Light.png" alt="">
                        <h1 >Real</h1>
                    </div>
                    <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt rerum perferendis dolore nesciunt debitis expedita eius ut illo placeat repellat officia nulla dicta, necessitatibus ipsum, delectus vel. Nulla, saepe provident?</p>
        
                </div>


                <img src="/public/images/real-time_sync.png" alt="" id="about-feature-img3">

            </div>
            
        </div>
    </section>
    <footer class= "nav-footer-container">
        <div class="nav-footer">
            <div class="footer-logo">
                <img src="/public/images/BridgedLogoWhite.png" alt="">
                </h1>
                <p style="color: white">Copyright &copy; 2021</p>
            </div>
            <nav>
                <ul class="footer-links">
                    <li><a href="landingPage.html">Home</a></li>
                    <li><a href="index.html">About</a></li>
                    <li><a href="#">FAQs</a></li>
                </ul>
            </nav>
            <div class="footer-socials">
                <a href="#"><i class="fab fa-github fa-2x"></i></a>
                <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
                <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
                <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
            </div>

        </div>
        
        
            
        
    </footer>
    
</body>
</html>