<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/styles2.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <title>Bridged | Your business link website</title>
</head>
<body>
    <body id="body-pd">
        <div class="header" id="header">
            <div class="header-toggle">
                <i class='bx bx-menu' id="header-toggle-icon"></i>
            </div>
            <a class="header-img" href="creatorProfile.html">
                <img src="../public/images/default-profile.png" alt="">
            </a>
        </div>

        <div class="side-nav" id="side-nav">
            <nav class="s-nav">
                <div>
                    <a href="#"class="s-nav-logo">
                        <img src="../public/images/logo-white.png" alt="">
                        <div class="s-nav-title">Bridged</div>
                    </a>

                    <div class="s-nav-list">
                        <a href="#" class="s-nav-link active">
                        <i class='bx bx-grid-alt s-nav-icon' ></i>
                            <span class="s-nav-name">Orders</span>
                        </a>

                        <a href="#" class="s-nav-link">
                            <i class='bx bx-folder s-nav-icon' ></i>
                            <span class="s-nav-name">Projects</span>
                        </a>
          
                        <a href="#" class="s-nav-link">
                            <i class='bx bx-message-square-detail s-nav-icon' ></i>
                            <span class="s-nav-name">Messages</span>
                        </a>

                    </div>
                </div>
                <a href="#" class="s-nav-link">
                    <i class='bx bx-log-out s-nav-icon' ></i>
                    <span class="s-nav-name">Log Out</span>
                </a>
            </nav>
            
        </div>

        <div class="profile-container">
            <div class="profile-header">
                <div class="profile-header-right">
                    <img src="../public/images/jose-rizal.jpg" alt="">
                    <div class="profile-header-right-det">
                        <h3>Jose D.</h3>
                        <div class="profile-header-right-det-loc">
                            <i class="fas fa-map-marker-alt"></i>
                            <span>Sa Puso Mo, Metro Manila</span>
                        </div>
                        <div class="profile-header-right-det-rating">
                            <span>4.8</span>
                            <i class="fas fa-star"></i>
                        </div>    
                    </div>
                </div>
                <div class="profile-header-left">
                    <p> Php 50,000.00 spent</p>
                    <p> 40 jobs posted</p>
                    <p> 20 orders filled 50% hire rate</p>
                </div>
            </div>
            <div class="profile-history">
                <div class="profile-history-det">
                    <h4>Education</h4>
                    <p>Ateneo de Manila Univeristy</p>
                    <p>Bachelor of Business Administration (BBA), Data Analyist</p>
                </div>
                <div class="profile-history-det">
                    <h4>Certifications</h4>
                    <p>Ateneo de Manila Univeristy</p>
                    <p>American Literature and culutre sciences (2022)</p>

                    <p>Ateneo de Manila Univeristy</p>
                    <p>Bachelor of Business Administration (BBA), Data Analyist (2022)</p>

                    <p>Ateneo de Manila Univeristy</p>
                    <p>Licensed underwater welder from UWA (2017)</p>
                </div>
                <div class="profile-history-det">
                    <h4>Business History</h4>
                    <p>Owner of Sayote Farm</p>
                    <p>Agricultural business owner from 1997-2010</p>
                </div>

            </div>

            <div class="profile-about">
                <h4>About</h4>
                <p>Hi my name is Jose and I like Sun Shiny Days and Rainbows. A productivity nerd. Tech Junkie. Dog Lover. I like copy pasting code from stack overflow</p>

            </div>

            <div class="profile-language">
                <h4>Languages</h4>
                <div class="language-container">
                    <div class="language-item">English</div>
                    <div class="language-item">Tagalog</div>
                    <div class="language-item">Bisaya</div>
                </div>
                

            </div>

            <div class="profile-interest">
                <h4>Business Interest or Fields</h4>
                <div class="interest-container">
                    <div class="language-item">Agriculture</div>
                    <div class="language-item">Logistics</div>
                    <div class="language-item">Catering</div>
                </div>
                

        </div>

        

        
        <script src="../public/scripts/sideBar.js"></script>
    
    
</body>
</html>