<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/styles.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <title>Bridged | Your business link website</title>
</head>
<body>
    <header class="nav-bar-container">
        <div class="nav-bar">
            <img src="/public/images/BridgedLogoWithWords.png" alt="logo" class="logo">
            <nav>
                <ul class="nav-links">
                    <li><a href="landingPage.html">Home</a></li>
                    <li><a href="aboutUs.html">About</a></li>
                    <li><a href="faqs.html">FAQs</a></li>
                </ul>
            </nav>
            <a href="signInPage.html"  class="signin-btn">Sign in</a>
        </div>
    </header>

    <section class="FAQs-images">
        <img src="/public/images/FAQsIllustration.png" alt="" id="FAQsIllustration">
    </section>

    <section class="FAQs-container">
        <h1>Frequently Asked Questions</h1>
        <section class="FAQs-subcontainer">
        <h2>Creator</h2>
        <div class="FAQs">
            <h3>How do I become a creator?</h3>
        </div>
        <div class="FAQs">
            <h3>How long does it take to become a verified creator?</h3>
        </div>
        <div class="FAQs">
            <h3>What do I need to create a project?</h3>
        </div>
        <div class="FAQs">
            <h3>Do we need an actual project to start and get connected?</h3>
        </div>
        <div class="FAQs">
            <h3>How much is it to create a project?</h3>
        </div>
        </section>
        <section class="FAQs-subcontainer">
            <h2>Manufacturer</h2>
            <div class="FAQs">
                <h3>How do I become a manufacturer?</h3>
            </div>
            <div class="FAQs">
                <h3>What are the requirements to become a manufacturer?</h3>
            </div>
            <div class="FAQs">
                <h3>Why should I be a manufacturer?</h3>
            </div>
        </section>       
    </section>
    

    <footer class= "nav-footer-container">
        <div class="nav-footer">
            <div class="footer-logo">
                <img src="/public/images/BridgedLogoWhite.png" alt="">
                </h1>
                <p style="color: white"> Copyright &copy; 2021 </p>
            </div>
            <nav>
                <ul class="footer-links">
                    <li><a href="landingPage.html"> Home </a></li>
                    <li><a href="index.html"> About </a></li>
                    <li><a href="#"> FAQs </a></li>
                </ul>
            </nav>
            <div class="footer-socials">
                <a href="#"><i class="fab fa-github fa-2x"></i></a>
                <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
                <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
                <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
            </div>
        </div>
    </footer>
</body>
</html>