<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/styles.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <title>Bridged | Your business link website</title>
</head>
<body>
    <header class="nav-bar-container">
        <div class="nav-bar">
            <img src="/public/images/BridgedLogoWithWords.png" alt="logo" class="logo">
            <nav>
                <ul class="nav-links">
                    <li><a href="landingPage.html">Home</a></li>
                    <li><a href="aboutUs.html">About</a></li>
                    <li><a href="faqs.html">FAQs</a></li>
                </ul>
            </nav>
            <a href="" class="signin-btn">Sign in</a>
        </div>
    </header>

    <section class="container">
        <div class="title-banner">
            <img class="welcome-bg" src="/public/images/Background.png" alt="">
            <div class="centered-left" >
                <h1>
                    Welcome to Homecare
                </h1>
                <p>
                    We provide you with everything you need to start your business journey today
                </p>
        </div></div>
            
    </section>

    
    <section class="container">
        <div class="services-container">
            <div class="my-header">
                <h2>Our Services</h2>
                <span>| How Can We Help You Today?</span>
            </div>
            <div style="clear:both"></div>
            <div class="services-card-container">
                <div class="service-card">
                    <img src="../public/images/CardBG1.png" alt="">
                    <h3>Build</h3>
                </div>
                <div class="service-card">
                    <img src="../public/images/CardBG2.png" alt="">
                    <h3>Create</h3>
                </div>
                <div class="service-card">
                    <img src="../public/images/BackgroundImage3.png" alt="">
                    <h3>Manufacture</h3>
                </div>
                <div class="service-card">
                    <img src="../public/images/BackgroundImage4.png" alt="">
                    <h3>Learn</h3>
                </div>
            </div>
        </div>
    </section>

    
    <section class="container-column">
        <img class="welcome-bg" src="/public/images/FollowUsBlob.png" alt="">
    </section>

    <section class="container-column">
        <div class="padded-container-column left">
            <div class="top-manufacturers-header">
                <h2>Top Rated Manufacturers</h2>
                <a href="" class="view-all"> View All </a>
            </div>
            <section class="top-manufacturers-list">
                <div class="manufacturer-card">
                    <img src="/public/images/ManufacturerProfile.png">
                    <h3>Jonas, L.</h3>
                    <h6>Laguna, Philippines</h6>
                    <div class="rating">
                        <img src="/public/images/filled-star.png">
                        <span>4.5/5</span>
                    </div>
                    <a href="" class="Blue-Filled-Button">See More</a>
                </div>
                <div class="manufacturer-card">
                    <img src="/public/images/ManufacturerProfile.png">
                    <h3>Jonas, L.</h3>
                    <h6>Laguna, Philippines</h6>
                    <div class="rating">
                        <img src="/public/images/filled-star.png">
                        <span>4.5/5</span>
                    </div>
                    <a href="" class="Blue-Filled-Button">See More</a>
                </div>

                <div class="manufacturer-card">
                    <img src="/public/images/ManufacturerProfile.png">
                    <h3>Jonas, L.</h3>
                    <h6>Laguna, Philippines</h6>
                    <div class="rating">
                        <img src="/public/images/filled-star.png">
                        <span>4.5/5</span>
                    </div>
                    <a href="" class="Blue-Filled-Button">See More</a>
                </div>

                <div class="manufacturer-card">
                    <img src="/public/images/ManufacturerProfile.png">
                    <h3>Jonas, L.</h3>
                    <h6>Laguna, Philippines</h6>
                    <div class="rating">
                        <img src="/public/images/filled-star.png">
                        <span>4.5/5</span>
                    </div>
                    <a href="" class="Blue-Filled-Button">See More</a>
                </div>
                
            </section>
        <p>Load More Manufacturers...</p>
        </div>

        <div class="padded-container-column right">
            <div class="black-bar"></div>
            <h3>Announcement</h3>
            <img src="/public/images/Announcement Box.png" alt="">
            <h2>More Articles...</h2>
            <img src="/public/images/Girl Smile.png" alt="">
            <h3>This is how you get a brighter smile</h3>
        </div>
    </section>

    <section class="FAQ">
        <h2>FAQS</h2>
        <div class="FAQs">
            <h3>How Do I Become a Creator?</h3>
        </div>
        <div class="FAQs">
            <h3>What Do I Need To Create My Product?</h3>
        </div>
        <div class="FAQs">
            <h3>How Do I Become a Manufacturer?</h3>
        </div>
    </section>
    <!--
    <div class="margin-container">

        <div class="my-header">
            <h2>Our Services</h2>
            <span>| How Can We Help You Today?</span>
        </div>
        <div style="clear:both"></div>

        
        <div class="card">
            <img src="/public/images/BackgroundImage.png" alt="Projects" >
            <h2 class="bottom-left">Projects</h2>
        </div>
        
    
    </div> 

    -->

    <footer class= "nav-footer-container">
        <div class="nav-footer">
            <div class="footer-logo">
                <img src="/public/images/BridgedLogoWhite.png" alt="">
                </h1>
                <p style="color: white">Copyright &copy; 2021</p>
            </div>
            <nav>
                <ul class="footer-links">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Articles</a></li>
                </ul>
            </nav>
            <div class="footer-socials">
                <a href="#"><i class="fab fa-github fa-2x"></i></a>
                <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
                <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
                <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
            </div>

        </div>
        
        
            
        
    </footer>
</body>
</html>