<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/styles.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <title>Bridged | Your business link website</title>
</head>
<body>
    <header class="nav-bar-container">
        <div class="nav-bar">
            <img src="/public/images/BridgedLogoWithWords.png" alt="logo" class="logo">
            <nav>
                <ul class="nav-links">
                    <li><a href="landingPage.html">Home</a></li>
                    <li><a href="index.html">About</a></li>
                    <li><a href="#">Articles</a></li>
                </ul>
            </nav>
            <a href="" class="signin-btn">Sign in</a>
        </div>
    </header>

    <section class="container">
            <img class="welcome-bg" src="/public/images/Background.png" alt="">
            <div class="centered-left">
                <h1>
                    Welcome to Homecare
                </h1>
                <p>
                    We provide you with everything you need to start your business journey today
                </p>
        </div>
    </section>

    
    <section class="container">
        <div class="services-container">
            <div class="services-title">
                <span>Our Services</span>
                <span>How can we help you today</span>
            </div>
            <div class="services-card-container">
                <div class="service-card">
                    <img src="../public/images/BackgroundImage.png" alt="">
                    <h3>Projects</h3>
                </div>
                <div class="service-card">
                    <img src="../public/images/BackgroundImage.png" alt="">
                    <h3>Projects</h3>
                </div>
                <div class="service-card">
                    <img src="../public/images/BackgroundImage.png" alt="">
                    <h3>Projects</h3>
                </div>
            </div>
        </div>
    </section>

    <!--
    <div class="margin-container">

        <div class="my-header">
            <h2>Our Services</h2>
            <span>| How Can We Help You Today?</span>
        </div>
        <div style="clear:both"></div>

        
        <div class="card">
            <img src="/public/images/BackgroundImage.png" alt="Projects" >
            <h2 class="bottom-left">Projects</h2>
        </div>
        
    
    </div> 

    -->

    <footer class= "nav-footer-container">
        <div class="nav-footer">
            <div class="footer-logo">
                <img src="/public/images/BridgedLogoWhite.png" alt="">
                </h1>
                <p style="color: white">Copyright &copy; 2021</p>
            </div>
            <nav>
                <ul class="footer-links">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Articles</a></li>
                </ul>
            </nav>
            <div class="footer-socials">
                <a href="#"><i class="fab fa-github fa-2x"></i></a>
                <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
                <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
                <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
            </div>

        </div>
        
        
            
        
    </footer>
</body>
</html>