<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/styles.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <title>Bridged | Your business link website</title>
</head>
<body>
    <header class="nav-bar-container">
        <div class="nav-bar">
            <img src="/public/images/BridgedLogoWithWords.png" alt="logo" class="logo">
            <nav>
                <ul class="nav-links">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Articles</a></li>
                </ul>
            </nav>
            <a href="signInPage.html" class="signin-btn">Sign in</a>
        </div>
    </header>

    <div class="center-box-blank">
        <div class="signup-container">
            <h1>Welcome.</h1>
            
            <form action="" class="form">
                
                <input type="email" placeholder="Email" id="email">
                <input type="password" placeholder="Password" id="password">
                
                
                
                <button>Sign </button>
                
                <div style ="margin-top: 30px"class="text-with-link" >
                    <span>Don't have an account yet? </span>
                    <a href="signupPage.html">Sign Up</a>
                </div>
            </form>

        </div>
    </div>
    
    <footer class= "nav-footer-container">
        <div class="nav-footer">
            <div class="footer-logo">
                <img src="/public/images/BridgedLogoWhite.png" alt="">
                </h1>
                <p style="color: white">Copyright &copy; 2021</p>
            </div>
            <nav>
                <ul class="footer-links">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Articles</a></li>
                </ul>
            </nav>
            <div class="footer-socials">
                <a href="#"><i class="fab fa-github fa-2x"></i></a>
                <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
                <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
                <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
            </div>

        </div>
        
        
            
        
    </footer>
    
</body>
</html>