@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primaryblue: #01006a;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

li,
a,
button {
  font-family: inherit;
  text-decoration: none;
}

/* utilitiy classses */

.container {
  max-width: 1300px;
  margin: 0px auto;
  overflow: auto;
}

/*  navbar styles */

.nav-bar-container {
  height: 70px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.nav-bar {
  max-width: 1300px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 5px 10px;
}

.logo {
  width: 150px;
  height: auto;
}

.nav-links {
  margin-left: 15px;
  list-style: none;
}

.nav-links li {
  display: inline-block;
  margin: 0 10px;
  color: rgb(85, 85, 85);
}

.nav-links a {
  color: rgb(85, 85, 85);
  font-size: 14px;
  font-weight: 600;
}

.nav-links a:hover {
  color: black;
}
.signin-btn {
  padding: 9px 15px;
  background-color: var(--primaryblue);
  color: white;
  font-weight: 600;
  border-radius: 8px;
  margin-left: auto;
}

.signin-btn:hover {
  background-color: #04018a;
}

/* HOME PAGE */

.welcome-bg {
  width: 100%;
  height: auto;
}

.about-container {
  padding: 30px 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about-description {
  color: var(--primaryblue);
  font-weight: 700;
}

.bridged-description {
  margin-top: 50px;
}

.about-bg-container {
  margin-top: 80px;
  position: relative;
  overflow: hidden;
  height: 400px;
}

#about-img {
  position: relative;
  top: -120px;
  width: 100%;
  height: auto;
}

.about-card {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 400px;
  text-align: justify;
  text-justify: inter-word;
}

.about-card-title {
  display: flex;
  align-items: center;
}

.about-card-title h1 {
  margin-left: 10px;
  color: var(--primaryblue);
}

.about-card-title img {
  width: 25px;
  height: auto;
}

.about-card p {
  margin-top: 15px;
  font-size: 12px;
}

.about-features-container {
  margin-top: 30px;
  width: 100%;
  height: 750px;

  position: relative;
}

#about-feature-img1 {
  position: absolute;
  height: 200px;
  top: 0px;
  right: 90px;
}

#about-feature-img2 {
  position: absolute;
  height: 200px;
  top: 200px;
  left: 30px;
}

#about-feature-img3 {
  position: absolute;
  height: 250px;
  top: 450px;
  right: 30px;
}

/* footer */

.nav-footer-container {
  background-color: var(--primaryblue);

  height: 200px;
}

.nav-footer {
  max-width: 1300px;
  margin: 0px auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 50px;
}
.footer-logo img {
  width: 200px;
}
.footer-links {
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.footer-links li {
  margin: 5px 0;
  list-style: none;
}

.footer-links a {
  color: rgb(189, 189, 189);
  text-decoration: none;
}

.footer-links a:hover {
  color: white;
}

.footer-socials {
  margin-right: 50px;
  display: flex;
}

.footer-socials i {
  margin-left: 15px;
  color: white;
}

/* signup-page */

.center-box-blank {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 750px;
  width: 100%;
}

.signup-container {
  width: 450px;
  margin-top: 40px;
}

.signup-container h1 {
  color: var(--primaryblue);
  font-size: 42px;
}

.signup-container p {
  color: rgb(36, 36, 36);
  font-size: 15px;
  font-weight: 500;
}

.form {
  margin-top: 40px;
  padding: 0 60px;
}
.form input {
  margin-top: 30px;
  display: block;
  width: 100%;
  padding: 8px 15px;
  border-radius: 10px;
  border: 1.5px solid rgb(167, 167, 167);
  font-size: 15px;
  font-weight: 500;
}

.form input:focus {
  outline: 0;
  border: 2px solid #777;
}

.form h6 {
  margin-top: 30px;
  font-size: 15px;
  color: var(--primaryblue);
}

.form p {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 12px;
  color: var(--primaryblue);
}

.form button {
  width: 100%;
  margin: 30px 0;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 600;
  background-color: var(--primaryblue);
  color: white;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.form button:hover {
  background-color: #04018a;
}

.text-with-link {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-with-link span {
  font-size: 14px;
  font-weight: 500;
  color: rgb(49, 49, 49);
}

.text-with-link a {
  margin-left: 10px;
  font-size: 15px;
  text-decoration: none;
  font-weight: 600;
  color: var(--primaryblue);
}
/* Landing Page */

.margin-container {
  margin-left: 5%;
}
.centered-left {
  text-align: left;
  position: absolute;
  top: 50%;
  left: 29%;
  transform: translate(-50%, -50%);
}
.bottom-left {
  text-align: left;
  position: absolute;
  bottom: 8px;
  left: 4px;
}

.my-header h2 {
  font-family: "Montserrat", sans-serif;
  font-size: larger;
  color: #010570;
  display: inline;
}
.my-header span {
  font-family: "Montserrat", sans-serif;
  font-size: normal;
  color: grey;
  margin-left: 5px;
}
/*
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners 
  color: white;
  position: relative;
  overflow: hidden;
  width: 280px;
}

.card img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
*/

.services-container {
  padding: 30px 50px;
}

.services-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.services-card-container {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: start;
}
.service-card {
  margin-right: 30px;
  width: 300px;
  height: 200px;
  position: relative;
}

.service-card img {
  width: 100%;
  height: auto;
}

.service-card h3 {
  position: absolute;
  font-size: 1.7rem;
  color: white;
  bottom: 0px;
  left: 20px;
}
